html {
  overscroll-behavior: none;
}

body {
  margin: 0 0 25px 0;
  color: var(--gen-text-color);
  background: var(--bg);
  justify-items: center;
  align-items: center;
}

nav {
  width: 100vw;
  height: 100vh;;
  position: fixed;
  align-items: end;
  opacity: 0;
  transition: opacity 1s linear;
}

h1, h2, h3, h4, h5, h6 { 
  color: var(--heading-color);
  margin: 0;
}

a, a:visited {
  color: var(--link-text-color);
}

hr {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.contrTheme:has(input[type="radio"]:checked){
  background: var(--dropdown-svg);
}
.contrTheme:has(input[type="radio"]:checked) > div * {
  fill: var(--menu-bg);
}

.monthTheme:has(input[type="radio"]:checked){
  font-weight: bold;
}

.monthTheme > input {
  width: inherit;
  height: inherit;
}


/* Creating header element that is fixed but scrollable, splash disappears the second header is scrolled
at all, while hdrCont is shown for the duration of header elements scroll, then the Interaction Observer triggers
a disappear of the header element once we hit its bottom, triggering the actual website's flow */
header {
  width: var(--vp-width);
  height: var(--vp-height);
  top: 0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  justify-items: center;
  align-items: center;
  z-index: 10;
  -ms-overflow-style: show;
  scrollbar-width: auto;
  scroll-behavior: auto;
  transition: opacity 1s linear;
}

body.pageTop header {
  opacity: 0;
}

main {
  width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
}

main > section {
  margin: 10rem 0 0 0;
  padding: 5rem 0 0 0;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
}

footer {
  width: 100vw;
  height: 3rem;
  bottom: 0;
  background-color: var(--footer-bg);
  position: relative;
}

footer > #linksFooter {
  width: auto;
  height: 2.5rem;
  margin: 0 1rem 0 0;
  justify-content: flex-end;
  align-items: center;
}
footer #linksFooter > * { margin: .25rem .5rem; }
footer #linksFooter svg, footer #linksFooter svg path {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--footer-svg);
}
footer > div:nth-child(1) {
  justify-content: space-between;
  align-items: center;
}

footer > div:nth-child(2) * {
  width: 100vw;
  height: .7rem;
  bottom: 0;
  position: absolute;
}

footer #path1 { fill: var(--footer-fill1) }
footer #path2 { fill: var(--footer-fill2) }
footer #path3 { fill: var(--footer-fill3) }
footer #path4 { fill: var(--footer-fill4) }
footer #path5 { fill: var(--footer-fill5) }
footer #path6 { fill: var(--footer-fill6) }

/* General Use Classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}